body {
  font-family: 'Cormorant', serif;
}
.logo-text a {
  font-size: 2rem;
}

button {
  font-family: 'Source Sans Pro', sans-serif;
}

.hero {
  background-image: url('https://images.unsplash.com/photo-1548025396-689d647d00c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2067&q=80');
  min-height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

/* Resume */

.school-name {
  font-size: 1.5rem;
  font-weight: 500;
}

.term {
  font-size: 0.9rem;
  font-weight: 400;
  color: aquamarine;
}

.mission-stmt {
  color: aquamarine;
  font-size: 1.1 rem;
}

#resume-section {
  background: rgba(0, 0, 0, 0.7);
}

/* Carousel */

.carousel-item {
  max-height: 55%;
  margin-top: 10px;
}
.carousel-item h1 {
  font-size: 4rem;
  position: absolute;
  bottom: 40px;
  left: -15px;

  font-family: 'Italianno', cursive;
  background-color: #333;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 20px;
}

.carousel-item img {
  border-radius: 30px;
}

/* Add-bottle */
.main-form {
  width: 800px;

  padding: 20px;
  margin: auto;

  margin-top: 50px;
  background-color: #333;
}

.form-button {
  width: 150px;
  padding: 10px;
  margin-left: 20px;
}

.detail-hero {
  max-width: 25%;
  max-height: 25%;
}
