<!-- Form to add new bottles to the collection. -->

<h1>Add Bottles</h1>
<h2>Let's add your new purchases here.</h2>
<col-md-9>
  <form>
    <div class="form-row py-1">
      <div class="form-group col-md-2">
        <label for="year" class="form-label">Vintage: </label>
        <input type="number" class="form-control" name="vintage" id="vintage" />
      </div>
      <div class="form-group col-md-10">
        <label for="name" class="form-label">Name: </label>
        <input type="text" class="form-control" name="Wine Name" id="name" />
      </div>
      <div class="form-row">
        <div class="form-group col-md-3"><label for="varietal" class="form-label" >Varietal:</label>
        <input type="text" class="form-control" name="varietal" id="varietal" /></div>
        <div class="form-group col-md-3"><label for="region" class="form-label">Region: </label>
          <select name="region" id="region" class="form-control">
            <option>Select...</option>
            <option>ca</option>
            <option>fr</option>
            <option>au</option>
            <option>it</option>
            <option>row</option>
            <option>otherEU</option>
          </select></div>
        <div class="form-group col-sm-2">
          <label for="quantity" class="form-label">Quantity: </label>
          <input type="number" class="form-control" name="quantity" id="quantity" />
          
        </div>
        <div class="form-group col-sm-3">
          <label for="price" class="form-label">Price Paid: </label>
          <input type="number" class="form-control" name="price" id="price" />

        </div>
  </div>
    
    <div class="col-12 py-2">
      <input
        type="button"
        class="btn btn-primary form-control-lg"
        value="Submit"
      />
    </div>
  </form>
</col-md-9>
