<h1>Your Current Wine Collection</h1>
<div class="container">
  <h3 class="text-center">Current Collection</h3>
</div>

<table class="table table-striped text-white">
  <thead>
    <tr>
      <th>Qty</th>
      <th>Year</th>
      <th>Name</th>
      <th>Varietal</th>
      <th>Region</th>
      <th>Price / Bottle</th>
    </tr>
  </thead>
  <tr
    ng-repeat="wine in wines | orderBy: 'name'"
    ng-click="goToUpdateView(wine.id)"
  >
    <td>{{ wine.quantity }}</td>
    <td>{{ wine.vintage }}</td>
    <td>{{ wine.name }}</td>
    <td>{{ wine.varietal }}</td>
    <td>{{ wine.region }}</td>
    <td>{{ wine.price | currency}}</td>
  </tr>
</table>
<p class="font-italic text-warning">Click on the name for more information.</p>
