
<div class="carousel-home">
  
  <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/winecellar/img/celebarate-with-family.jpg" class="d-block w-100" alt="...">
        <h1 class="subtitle">celebrating with family...</h1>
      </div>
      <div class="carousel-item">
        <img src="/winecellar/img/food-pairing2.jpg" class="d-block w-100" alt="...">
        <h1 class="subtitle">perfect wine for the perfect dinner...</h1>
        
      </div>
      <div class="carousel-item">
        <img src="/winecellar/img/special-times.jpg" class="d-block w-100" alt="...">
        <h1 class="subtitle">for life's special moments...</h1>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/winecellar/img/everyday-wine.jpg" class="d-block w-100" alt="...">
      <h1 class="subtitle"></h1>finding wine to match your everyday...</h1>
    </div>
  </div>
  </div>
</div>