<div class="container" id="resume-section">
  <div class="row">
    <div class="m-auto py-3 mb-auto text-center">
      <h1>Timothy R. McGrath</h1>
      <h3>tmcgrath28@gmail.com</h3>
      <h4 class="mission-stmt">
        Former Chief Financial Officer turned coder. Looking for opportunities
        to help your company with my previous experiences and my passion for
        technology and interest in coding.
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 py-2">
      <h3><u>Education</u></h3>
      <h3 class="school-name">Arkansas Coding Academy</h3>
      <h3 class="term">January - October, 2021</h3>
      <h3 class="studies">Full Stack Development</h3>
      <br />
      <h3 class="school-name">Drexel University</h3>
      <h3 class="term">Philadelphia, PA</h3>
      <h3 class="studies">Accounting & Finance</h3>
      <br />
      <h3><u>Previous Experience</u></h3>
      <ul>
        <li>Previously served as CFO of a $200 million business</li>
        <li>Oversaw accounting, finance, IT, and human resource functions</li>
        <li>
          Helped the company grow from 2 locations to 11 in multiple states
        </li>
        <li>
          Managed multiple accounting system implementations, including Oracle
          E-Business Suite
        </li>
        <li>
          Experience with 401K and profit sharing plans, benefit design, health
          insurance plans
        </li>
        <li>Earned CompTIA Security+ certification in 2020</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3 class="ml-auto"><u>About This Project</u></h3>
      <h3>Server-side Stack:</h3>
      <ul>
        <li>Java</li>
        <li>RESTful Services</li>
        <li>MySQL</li>
        <li>Apache Tomcat</li>
        <li>JDBC</li>
      </ul>
      <h3>Client-side Stack:</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>AngularJS</li>
        <li>Javascript</li>
        <li>Font Awesome</li>
        <li>Google Fonts</li>
      </ul>
      <h3>Tools & Other Technologies Used:</h3>
      <ul>
        <li>Eclipse IDE</li>
        <li>Visual Studio Code</li>
        <li>Maven</li>
        <li>Heidi SQL</li>
        <li>JSON & XML</li>
        <li>AWS</li>
        <li>Postman</li>
      </ul>
    </div>
  </div>
</div>
