<div class="card mt-3">
  <div class="card-header bg-info">
    <h4>Search Your Collection</h4>
    <input type="text" class="btn bg-light" ng-model="searchValue" />
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Vintage</th>
          <th>Name</th>
          <th>Varietal</th>
          <th>Region</th>
          <th>Price</th>
          <th>QTY</th>
          <th>Details</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="wine in wines | filter: searchValue" ng-hide="{{wine.quantity}} == 0">
          <td>{{wine.vintage}}</td>
          <td>{{wine.name}}</td>
          <td>{{wine.varietal}}</td>
          <td>{{wine.region | uppercase}}</td>
          <td>{{ wine.price | currency }}</td>
          <td>{{ wine.quantity }}</td>
          <td>
            <i class="fas fa-expand-alt" ng-click="goToDetailView(wine.id)">
            </i>
          </td>
          <td>
            <i class="fas fa-pencil-alt" ng-click="goToUpdateView(wine.id)">
            </i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer bg-info">Please select a wine for update</div>
</div>
